
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Customers</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap  mb-0">
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 text-uppercase font-medium">First Name</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Last Name</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Phone Number</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>
                            <h5 class="font-medium">{{ user.firstName }}</h5>
                          </td>
                          <td>
                            <h5 class="font-medium">{{ user.lastName }}</h5>
                          </td>
                          <td>
                            <h5 class="font-medium">{{ user.email }}</h5>
                          </td>
                          <td>
                            <h5 class="font-medium">{{ user.phoneNumber }}</h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
