
  .sidebar {
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    height: max-content;
    z-index: 600;
  }
  .list-group-item{
    font-size: 20px;
  }
 