<nav id="sidebarMenu" class="collapse d-lg-block  collapse bg-white min-vh-100" >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a [routerLink]="['/admin-panel/user-list']" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Users</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Sales</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Products</span></a
          >
        </div>
      </div>
</nav>
 