
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Sales</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium">Customer Id</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Product Id</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Quantity</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Total Price</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Sale Date</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of sales">
                      <td>
                        <h5 class="font-medium">{{ sale.customerId }}</h5>
                      </td>
                      <td>
                        <h5 class="font-medium">{{ sale.productId }}</h5>
                      </td>
                      <td>
                        <h5 class="font-medium">{{ sale.quantity }}</h5>
                      </td>
                      <td>
                        <h5 class="font-medium">{{ sale.totalPrice }}$</h5>
                      </td>
                      <td>
                        <h5 class="font-medium">{{ sale.createdDate }}</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

